// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.species-selector {
  overflow: scroll;
  height: 250px;
  background: #ddd;
}

.search-form {
  text-align: center;
}

.search-form .species-selector {
  text-align: left;
}

.search-form button {
  margin: 30px 0;
  font-size: 20px;
  background: #27ae60;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
}

.search-form button:hover {
  cursor: pointer;
}