// Place all the styles related to the species controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.species-table-wrapper {
  max-height: 80vh;
  overflow: scroll;
}
.species-list-table {
    text-align: center;
    padding-left: 10px;
    max-height: 90vh;
}
.species-list-table th {
  border-bottom: solid 1px black;
}
.species-list-table th, .species-list-table td {
  width: 150px;
  border-right: solid 1px black;
  padding: 3px;  
}

.species-list-table tr:nth-child(even) {
  background-color: #ddd;
}

.species-list-table th:first-child, .species-list-table td:first-child {
  border-left: solid 1px black;
}
